/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* Header Section Styles */
.header-section {
    display: flex;
    background: #161616;
    border-radius: 30px;
    margin: 50px 140px;
}

.header-left {
    width: 50%;
    color: white;
    margin-top: 110px;
    margin-left: 106px;
    margin-right: 24;
}

.header-left h1 {
    font-size: 68px;
}

.header-left p {
    font-size: 16px;
    margin-bottom: 45px;
}

.header-left a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 16px 25px;
    display: inline-block;
    position: relative;
    box-shadow: inset 0 0 0 0 #220641;
    transition: ease-out 2s;

}

span {
    display: block;
}

.btn {
    background-color: #DD0000;
    border-radius: 5px;

}

.btn::before,
.btn::after {
    content: '';
    display: block;
    position: absolute;
    background-color: hsl(259, 93%, 45%);
    transition: 2s;
    transition-delay: 1s;
}

span::before,
span::after {
    content: '';
    display: block;
    position: absolute;
    background-color: hsl(259, 93%, 45%);
    transition: 2s;
    transition-delay: 0;
}

.btn::before {
    top: 0;
    right: 0;
    width: 0;
    height: 3px;
}

.btn::after {
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
}

span::before {
    top: 0;
    left: 0;
    width: 3px;
    height: 0;
}

span::after {
    right: 0;
    bottom: 0;
    width: 3px;
    height: 0;
}

.btn:hover {
    box-shadow: inset 300px 0 0 0 hsl(233, 84%, 13%);
    cursor: pointer;
    /* border: 2px solid hsl(234, 63%, 48%); */
}

a:hover::before {
    width: 100%;
}

a:hover::after {
    width: 100%;
}

a:hover span::before {
    height: 100%;
    transition-delay: 1s;
}

a:hover span::after {
    height: 100%;
    transition-delay: 1s;
}

.header-image {
    width: 50%;
    margin-top: 33px;

}

.header-image img {
    width: 95%;
    height: 613px;

}

/* Footer styles */
footer {
    background-color: #161616;
    ;
}

.upper-footer {
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;

}

.upper-footer h2 {
    padding-top: 100px;
}

hr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 80%;
    margin: auto;
}

.lower-footer {
    padding-top: 50px;
    padding-bottom: 20px;
}

.others-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.others-info li {
    list-style-type: none;


}

.others-info li a {
    text-decoration: none;
    font-size: 16px;
    color: #B9B9B9;
    margin-left: 40px;
}

.social-accounts {
    display: flex;
    justify-content: center;
}

.social-accounts a i {

    color: white;
    margin: 20px 15px;
    color: white;
    font-size: 20px;
    background-color: #2e2a59;
    padding: 10px;
    border-radius: 50px;

}